<div class="sidebar1">
    <h2>Новости</h2>
    <!-- news block daily-->
    {{#get "posts" filter="tags:newsblock+image:-null" order="published_at desc"}}
        {{#foreach posts}}
            <div class="news">
                <a href="{{url}}">
                    <img src="{{image}}"/>
                    {{title}}
                </a>
            </div>
        {{/foreach}}
    {{/get}}
    <!-- end news block -->
</div>