.entry-content .video-container embed, .entry-content .video-container iframe, .entry-content .video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.eot');
	src: url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff2') format('woff2'), url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'), url('../fonts/mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot');
	src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'), url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* FONTS */

body {
	font: 14px/1.4 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #212020;
	background-color: #efefef;
}
img {
	vertical-align: middle;
}

* {
	box-sizing: border-box;
}
hr {
	margin: 11px 0px 60px 0px;
	border: 0px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	padding-right: 15px;
	font-family: 'proxima_nova_rgbold';
	text-transform: uppercase;
}
h2 {
	font-size: 28px;
	color: #212020;
}
a img {
	border: none;
}
a:link {
	color: #42413C;
	text-decoration: underline;
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
/* RESET*/

.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
.clearfloat2:after {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
	display: block;
	content: "";
}
.rela {
	position: relative;
	margin-bottom: 15px;
}
/* UTILITY */

.container {
	z-index: 2;
	max-width: 1700px;
	padding: 0px 50px;
	margin: 0 auto;
	position: relative;
}
.header {
	padding: 50px 0px;
}
.sidebar1 {
	float: left;
	padding: 20px;
	max-width: 380px;
	width: 22.35294117647059%;
	background-color: #ffffff;
	padding-bottom: 10px;
}
.sidebar1 h2 {
	text-align: center;
	margin-bottom: 0px;
}
.content {
	padding: 0px 0;
	margin: 0 25.35294117647059%;
}
.sidebar2 {
	float: right;
	max-width: 380px;
	width: 22.35294117647059%;
	padding: 0px 0;
}
.content ul, .content ol {
	padding: 0 15px 15px 40px;
}
ul.nav {
	list-style: none;
	border-top: 1px solid #666;
	margin-bottom: 15px;
}
ul.nav li {
	border-bottom: 1px solid #666;
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	width: 160px;
	text-decoration: none;
	background-color: #C6D580;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: #ADB96E;
	color: #FFF;
}
.footer {
	padding: 110px 0;
	background-color: #262626;
	position: relative;
	clear: both;
	margin-top: 110px;
}
.footer .sidebar1 {
	background-color: transparent;
	color: #707070;
	font-size: 16px;
	padding: 6px 20px 20px 20px;
}
.footer .logosmall {
	display: block;
	margin-bottom: 10px;
}
.footer .logosmall img {
width: 90%;
}
.footer .socials img {
	width: 40px;
}
.footer .socials {
	margin-top: 20px;
}
.footer .socials a {
	margin-right: 10px;
	margin-top: 10px;
}
.footer .sidebar2 {
}

.logo img {
	height: 65px;
	position: relative;
	z-index: 101;
}
.whiteplank {
	height: 36%;
	position: absolute;
	z-index: 1;
	width: 100%;
	background-color: #fff;
}
.logo {
	float: left;
}
.menu {
	float: right;
	position: relative;
}
/*.menu a:last-child {
	margin-right: 50px;
}*/
.menu a {
	font-family: 'proxima_nova_rgbold';
	display: block;
	float: left;
	color: #1c0f06;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding-left: 25px;
	line-height: 60px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.menu a:hover {
	color: #000;
}
.slider img {
	width: 100%;
}
.slider {
	max-height: 530px;
	margin-bottom: 50px;
	overflow: hidden;
}
.more:hover {
	background-color: #212020;
	color: #fff;
}
.news img {
	width: 100%;
	margin-bottom: 20px;
}
.news {
	padding: 20px 0px;
	border-bottom: 1px solid #e8e8e8;
}
.sidebar1 .last {
	border-bottom: 0px solid #e8e8e8;
}
.news a {
	text-decoration: none;
	color: #212020;
	font-family: 'proxima_nova_rgbold';
	font-size: 18px;
}
.banner {
	width: 100%;
}
.mateblock {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 6%;
}
/*.mateblock .block:nth-child(2n+1) {*/
	/*margin-right: 2.676470588235295%;*/
/*}*/
/*.mateblock .block:nth-child(2n) {*/
	/*margin-left: 2.676470588235295%;*/
/*}*/
.block {
	max-width: 380px;
	width: 50%;
	background-color: #fff;
	position: relative;
	padding-bottom: 50px;
	position: relative;
	margin-bottom: 6%;
}
.block img {
	width: 100%;
}

.block .zatem .text {
	margin-top: 28%;
	color: #fff;
	margin-left: 30px;
}
.block .zatem .post-title {
	color: #fff;
	font-size: 28px;
	font-family: 'proxima_nova_rgbold';
	margin-left: 30px;
}
.block a {
	text-decoration: none;
}
.block.post.featured {
	margin-bottom: 6%;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	position: absolute;
	margin-top: 10px;
	margin-left: -94px;
	right: 0px;
}
.overla {
	background-color: transparent;
	visibility: hidden;
	position: fixed;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
input[type=search]:focus ~ .overla {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #efefef;
	visibility: visible;
	z-index: 100;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
 display: none;
}
input[type=search] {
	background: url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	padding: 9px 10px 9px 32px;
	width: 55px;
	border: 0px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	border: solid 1px #ccc;
	z-index: 1000;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input:-moz-placeholder {
 color: #999;
}
input::-webkit-input-placeholder {
 color: #999;
}
#search input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search input[type=search]:hover {
	background-color: #fff;
}
#search input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search input:-moz-placeholder {
 color: transparent;
}
#search input::-webkit-input-placeholder {
 color: transparent;
}
.type {
	padding: 3px 5px;
	background-color: #000;
	color: #fff;
	font-family: 'proxima_nova_rgbold';
	position: absolute;
	transform: rotate(-90deg);
	bottom: 0px;
	left: 25px;
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
}
.video-container embed, .video-container iframe, .video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-title {
	margin: 0px 20px 10px 20px;
	font-size: 18px;
	color: #212020;
	font-family: 'proxima_nova_rgbold';
}

.post-header {
	height: 345px;
	overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.block .text {
	color: #212020;
	font-size: 16px;
	margin: 0px 20px 10px 20px;
}
.comme {
	position: absolute;
	left: 20px;
	height: 21px;
	width: 53px;
	background-image: url(../comments.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 25px;
	bottom: 15px;
	color: #b2b2b2;
}
.block:nth-of-type(1) {
	width: 100%;
	margin: 0px;
	max-width: 100%;
}
.mateblock .blockbig:nth-child(2n+1) {
	margin-right: 0%;
}
.rekla {
	position: relative;
	background-image: url(../rekblock.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.podves img {
	width: 100%;
}
.podves {
	padding: 45% 20px 10px 10px;
	color: #32e49b;
	font-size: 18px;
	text-align: center;
	font-family: 'proxima_nova_rgbold';
}
a.reklin {
	background-color: #fff;
	display: block;
	text-decoration: none;
	font-family: 'proxima_nova_rgbold';
	padding-bottom: 10%;
	margin-bottom: 17%;
	color: #32e49b;
}
.reklin h2 {
	padding-top: 15%;
}
.more {
	color: #212020;
	text-transform: uppercase;
	font-size: 18px;
	width: 100%;
	display: block;
	border: 2px solid #212020;
	padding: 17px 20px;
	text-align: center;
	margin-bottom: 15px;
	background-color: transparent;
	font-family: 'proxima_nova_rgbold';
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
.mobileblock {
	display: none;
}
.prefot {
	max-width: 1700px;
	margin: 0 auto;
	padding: 0px 50px;
}
.footmenu a {
	color: #efefef;
	text-decoration: none;
	font-size: 16px;
	margin-right: 2%;
}
.footmenu {
	text-align: justify;
	display: inline-block;
	padding-bottom: 80px;
	border-bottom: 1px solid #3b3b3b;
}
.zatem {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.5);
}
.fullnew .type {
	background-color: transparent;
	color: #fff;
	transform: rotate(0deg);
	top: 25px;
	left: 25px;
	text-transform: uppercase;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

.fullnew .type > a {
	color: white;
}

.fulltext {
	padding: 4%;
	font-size: 18px;
	line-height: 1.5;
}

.fulltext img {
	width: 100%;
	margin: 15px 0px;
}

blockquote {
	position: relative;
	display: block;
	font-style: italic;
	padding: 15px 0px;
	color: #989898;
}

blockquote:before {
	color: #989898;
	content: "\201C";
	font-size: 3em;
	line-height: 0.1em;
	margin-right: 0.2em;
	vertical-align: -.4em;
	font-family: georgia;
}

blockquote:after {
	color: #989898;
	content: "\201D"; /* Непечатаемый символ справа */
	font-size: 3em;
	line-height: 0.1em;
	vertical-align: -.45em;
	font-family: georgia;
}

blockquote > p:first-child {
	display: inline;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.autor {
	color: #989898;
	margin-top: 30px;
}
.author .text > a  {
	color: white;
}
a.feeadback {
	max-width: 180px;
	text-align: center;
	color: #ababab;
	background-color: #343434;
	border-radius: 5px;
	font-size: 16px;
	display: block;
	padding: 10px 0px;
	text-decoration: none;
	margin-bottom: 48px;
}
a.copyright {
	color: #ababab;
}
.inside {
	margin-bottom: 10px;
}
.commen {
	padding: 20px 20px;
	margin-bottom: 70px;
}
/* POST */

.menu-button {
	z-index: 3;
	position: absolute;
	top: 6px;
	right: 0px;
	display: none;
	padding: 47px 41px;
	width: 71px;
	cursor: pointer;
	transform: translateX(122px);
	-webkit-transform: translateX(122px);
	-moz-transform: translateX(122px);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.menu-button.active div:first-child {
	transform: rotate(90deg) translateY(12px) translateX(12px);
	-webkit-transform: rotate(90deg) translateY(12px) translateX(12px);
	-moz-transform: rotate(90deg) translateY(12px) translateX(12px);
}
.menu-button.active div:nth-child(2) {
	transform: rotate(90deg) translateY(0px);
	-webkit-transform: rotate(90deg) translateY(0px);
	-moz-transform: rotate(90deg) translateY(0px);
}
.menu-button.active div:nth-child(3) {
	transform: rotate(90deg) translateY(-12px) translateX(-12px);
	-webkit-transform: rotate(90deg) translateY(-12px) translateX(-12px);
	-moz-transform: rotate(90deg) translateY(-12px) translateX(-12px);
}
.menu-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.menu-button div {
	width: 100%;
	height: 4px;
	margin-top: 8px;
	background-color: #000;
	transform: translateX(122px);
	-webkit-transform: translateX(122px);
	-moz-transform: translateX(122px);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.menu-button div:first-child {
	margin-top: 0;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.menu-button div:nth-child(3) {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
/* MENU */

@media all and (max-width:1440px) {
.reklin h2 {
	padding-top: 12%;
	font-size: 20px;
}
.block .zatem .post-title {
	font-size: 25px;
}
.footer .socials img {
	width: 25px;
}
.footer .sidebar1 {
	font-size: 14px;
}
.footmenu a {
	font-size: 13px;
	margin-right: 1%;
}
}
@media all and (max-width:1280px) {
	.logo {
		max-width: 220px;
	}

	.header {
		padding: 25px 0px;
	}

	.logo img {
		max-width: 220px;
	}

	.reklin h2 {
		padding-top: 10%;
		font-size: 18px;
	}

	.block .zatem .text {
		margin-top: 22%;
	}
}

@media all and (max-width:1025px) {
 .footer .logosmall img {
 width: 100%;
}
 .menu a {
 font-size: 15px;
 padding-left: 20px;
}
 .block .zatem .post-title {
 font-size: 22px;
}
 h2 {
 font-size: 24px;
 color: #212020;
}
 .block {
 max-width: 900px;
 width: 100%;
 margin-bottom: 15px;
}
 .mateblock {
 display: block;
}
 .mateblock .block:nth-child(2n) {
 margin-left: 0%;
}
 .footer .socials a {
 margin-right: 2px;
}
}
@media all and (max-width:975px) {
	 .menu-button {
		 padding: 18px;
		 display: block;
	 }

	 hr {
		 margin: 11px 0px 30px 0px;
	 }

	 .mateblock .block:nth-child(2n) {
		 margin-left: 0%;
	 }

	 .menu {
		 visibility: hidden;
		 margin-top: -9000px;
	 }

	 .menu-button {
		 -webkit-transform: translateX(0px);
		 -moz-transform: translateX(0px);
		 -ms-transform: translateX(0px);
		 transform: translateX(0px);
	 }

	 .menu-button div {
		 -webkit-transform: translateX(0px);
		 -moz-transform: translateX(0px);
		 -ms-transform: translateX(0px);
		 transform: translateX(0px);
	 }

	 body.pmt div.menu a {
		 height: 50px;
		 line-height: 50px;
		 width: 100%;
	 }

	 body.pmt {
		 overflow: hidden;
	 }

	 body.pmt .menu {
		 display: block;
	 }

	 body.pmt div.menu a {
		 font-size: 16px;
	 }

	 body:not(.pmt) {
		 height: auto !important;
	 }

	 body:not(.pmt) .container {
		 height: auto !important;
	 }

	 body.pmt .menu {
		 overflow: visible;
	 }

	 body.pmt header {
		 overflow: visible;
		 padding-top: 122px;
	 }

	 body.pmt a.logo {
		 position: absolute;
		 z-index: 3;
	 }

	 body.pmt div.menu {
		 display: block;
		 position: absolute;
		 bottom: 0;
		 min-height: 500px;
		 top: 0;
		 left: 0;
		 right: 0;
		 z-index: 2;
		 overflow: hidden;
		 margin-left: 0;
		 background-color: #fbfbfb;
		 padding-top: 73px;
		 padding-bottom: 144px;
		 visibility: visible;
		 margin-top: 0px;
	 }

	 body.pmt div.menu a {
		 display: block;
		 padding: 0px;
		 height: 45px;
		 line-height: 45px;
		 width: 100%;
		 text-align: center;
		 font-size: 18px;
	 }

	 body.pmt header div.menu li:hover a {
		 color: #fff;
	 }

	 body.pmt div.menu a {
		 display: block;
		 width: 100%;
		 text-align: center;
		 padding: 0;
		 font-size: 22px;
		 color: #000;
		 padding: 0px;
		 margin: 0;
		 height: 52px;
		 line-height: 52px;
		 width: 100%;
		 text-transform: uppercase;
	 }

	 .header {
		 padding: 0px 0px;
	 }

	 .logo img {
		 max-width: 236px;
		 margin-top: 8px;
	 }

	 #search {
		 display: none;
	 }

	 .container {
		 padding: 0px 20px;
	 }
 }

@media all and (max-width:800px) {
 h2 {
 font-size: 22px;
}
 .reklin h2 {
 padding-top: 8%;
 font-size: 13px;
}
 .news a {
 font-size: 16px;
}
.mateblock .block:nth-child(2n) {
 margin-left: 0%;
}
 .block .zatem .post-title {
 font-size: 16px;
}
}
@media all and (max-width:690px) {
	 .sidebar1 {
		 display: none;
	 }

	 .sidebar2 {
		 display: none;
	 }

	 .content {
		 margin: 0 auto;
	 }

	 .mobileblock {
		 display: block;
		 float: none;
		 padding: 0px 20px 20px 20px;
		 max-width: 900px;
		 width: 100%;
		 padding-bottom: 0px;
		 margin: 15px 0px;
	 }

	 .footer .sidebar1 {
		 display: block;
		 width: 100%;
		 text-align: center;
		 padding: 40px 0;
	 }

	 .prefot {
		 padding: 0px 20px;
	 }

	 .footmenu {
		 text-align: center;
	 }

	 .footer {
		 padding: 30px 0;
	 }

	 .footmenu {
		 padding-bottom: 20px;
	 }

	 .fullnew .type {
		 top: 10px;
		 left: 10px;
	 }

	 .block .zatem .text {
		 margin-top: 17%;
		 margin-left: 16px;
	 }

	 .block .zatem .post-title {
		 margin-left: 17px;
	 }
 }
/* MEDIA */