.poster {
  position: relative;
  padding: 130px 20px 22px 11px;
  background-image: url(../bill.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media(min-width: 1366px) {
    padding: 145px 27px 25px 15px;
  }

  &__content {
    display: block;
    background-color: white;
    color: #32e49b;
    font-size: 18px;
    text-align: center;
    font-family: 'proxima_nova_rgbold';
    text-decoration: none !important;

    figure {
      margin: 0;
      height: 225px;
      position: relative;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h2 {
      padding: 45px 20px 30px;
      margin: 0;
      font-size: 22px;
      text-decoration: none;
    }

    h4 {
      color: #1ed2cc;
      margin: 0;
      padding-bottom: 35px;
      font-size: 22px;
    }
  }
}
